/*.gridPane Line {*/
/*    -fx-stroke: #492a0d;*/
/*}*/

.simulationsContainer {
    -fx-background-color: black;
}

.cellTexture {
    -fx-background-color: #492a0d;
    -fx-background-insets: -1px;
}

.cellLabel {
    -fx-border-width: 1px;
    -fx-background-color: #492a0d;
    -fx-border-color: #391d07;
    -fx-text-fill: #fff;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: #222;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #777;
    -fx-background-radius: 5em;
}
.scroll-pane > .corner {
    -fx-background-color: black;
}

.progress-bar .bar {
    -fx-background-insets: 0;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
