.gridLines Line {
    -fx-stroke: #391d07;
}

.jungleArea {
    -fx-background-image: url(../images/jungle/jungle-dirt.jpg);
    -fx-background-repeat: repeat;
    -fx-background-size: 50px;
}

.steppeArea {
    -fx-background-image: url(../images/steppe/steppe-dirt.jpg);
    -fx-background-repeat: repeat;
    -fx-background-size: 50px;
}

.cellNumber {
    -fx-border-width: 1px;
    -fx-background-color: #492a0d;
    -fx-border-color: #391d07;
}

.animalIDBox {
    -fx-border-width: 2px;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-background-color: #333;
    -fx-border-color: #000;
    -fx-background-insets: 1px;
}

.animalIDBox Label {
    -fx-text-fill: #fff;
    -fx-font-family: Lato;
    -fx-font-weight: bold;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: #222;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #777;
    -fx-background-radius: 5em;
}
.scroll-pane > .corner {
    -fx-background-color: black;
}

.progress-bar .bar {
    -fx-background-insets: 0;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

