.gridPane Line {
    -fx-stroke: red;
}

.simulationsContainer {
    -fx-background-color: black;
}

.test {
    -fx-border-color: blue;
    -fx-background-color: yellow;
    -fx-border-width: 10px;
}

.cellTexture { /* FIXME */
    -fx-border-width: 20px;
    -fx-background-color: blue;
    -fx-padding: 5px;
}