.gridLines Line {
    -fx-stroke: #391d07;
}

.jungleArea {
    -fx-background-image: url(../images/jungle/jungle-dirt.jpg);
    -fx-background-repeat: repeat;
    -fx-background-size: 50px;
}

.steppeArea {
    -fx-background-image: url(../images/steppe/steppe-dirt.jpg);
    -fx-background-repeat: repeat;
    -fx-background-size: 50px;
}

.cellNumber {
    -fx-border-width: 1px;
    -fx-background-color: #492a0d;
    -fx-border-color: #391d07;
}

.animalIDBox {
    -fx-border-width: 2px;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-background-color: #333;
    -fx-border-color: #000;
    -fx-background-insets: 1px;
}

.animalIDBox Label {
    -fx-text-fill: #fff;
    -fx-font-family: Lato;
    -fx-font-weight: bold;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: #222;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: #222;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #777;
    -fx-background-radius: 5em;
}
.scroll-pane > .corner {
    -fx-background-color: black;
}

.progress-bar .bar {
    -fx-background-insets: 0;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 0.15em 0 0.15em;
}
/* horizontal the two nodes are placed to the left/right of each other. */
.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #000;
}
/* vertical the two nodes are placed on top of each other. */
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: #000;
}

.simulationPane {
    -fx-background-color: #000;
}

.chartPane {
    -fx-background-color: #222;
}

.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-color: #fff;
    -fx-effect: dropshadow(two-pass-box , #ccc, 5, 0.2 , 0, 0);
}

.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: #eee;
}

.titled-pane > .title {
    -fx-color: #000;
    -fx-effect: dropshadow(two-pass-box , #555, 5, .4 , 0, 0);
}

.titled-pane > .title:hover {
    -fx-color: #333;
}
/* alternative content using a border and a grad to transparent background - why should TitledPane content have a colour? */
.titled-pane > *.content {
    -fx-border-color: transparent;
    -fx-background-color: #222;
}

.button {
    -fx-background-color: #444;
    -fx-cursor: hand;
    -fx-text-fill: #e1e1e1;
}

.button:hover {
    -fx-background-color: #565656;
    -fx-text-fill: #f1f1f1;
}

.chart-plot-background {
    -fx-background-color: #000;
}

.chart-legend {
    -fx-background-color:  transparent;
}

.chart-legend-item{
    -fx-text-fill: #e1e1e1;
}

.chart-vertical-grid-lines {
    -fx-stroke: #A6A6A5;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #A6A6A5;
}
.chart-alternative-row-fill {
    -fx-fill: #252525;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.axis {
    -fx-font-size: 1.4em;
    -fx-tick-label-fill: #fff;
    -fx-font-family: "Cambria Math";
    -fx-tick-length: 7.5;
    -fx-minor-tick-length: 5;
}

.axis-label {
    -fx-text-fill: #e1e1e1;
    -fx-font-size: 1em;
    -fx-font-weight: bold;
    -fx-font-family: Lato;
}

.axis-tick-mark {
    -fx-stroke: #fff;
}

.axis-minor-tick-mark {
    -fx-stroke: #ccc;
}

.chart-series-line {
    -fx-stroke-width: 3px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: #FF7400, white; }
.default-color0.chart-line-symbol { -fx-background-color: #FF7400, #FF7400; }
.default-color1.chart-series-line { -fx-stroke: #C3FF00, white; }
.default-color1.chart-line-symbol { -fx-background-color: #C3FF00, #C3FF00; }
.default-color2.chart-series-line { -fx-stroke: #16FFFF, white; }
.default-color2.chart-line-symbol { -fx-background-color: #16FFFF, #16FFFF; }
.default-color3.chart-series-line { -fx-stroke: #FFD024, white; }
.default-color3.chart-line-symbol { -fx-background-color: #FFD024, #FFD024; }
.default-color4.chart-series-line { -fx-stroke: #FF1282, white; }
.default-color4.chart-line-symbol { -fx-background-color: #FF1282, #FF1282; }

.footerBox {
    -fx-background-color: #333;
}

.footerBox Label {
    -fx-text-fill: #fff;
}
